node_modules/**/
baileys_auth_info/
auth_baileys/
.env

backend/utils/dbUtils.js
backend/utils/dbUtilsPush.js
backend/services/ia-service/node_modules
api/node_modules/
backend/node_modules/
memory-bank/
